body {
    background: black;
}

.container {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo__español__tech {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.info {
    color: #c235ab;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: center;
        width: 100%;
    }